@model IEnumerable<GPUTest2.Models.Data>

@{
    ViewBag.Title = "Index";
}

<h2>Gpu test results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stuff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stuff)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.DataID })
        </td>
    </tr>
}

</table>
